<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="6">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
              <form cForm  (ngSubmit)="resetPasswordRequest(formData)" #formData="ngForm">
                  <h1>Reset Your Password</h1>
                  <p class="text-medium-emphasis">Enter your email to reset your password</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilEnvelopeOpen"></svg>
                    </span>
                    <input
                      autoComplete="email"
                      cFormControl
                      placeholder="Enter your email"
                      type="email"
                      name="email"
                      ngModel
                    />
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button cButton class="px-4" color="primary" type="submit">
                        Submit
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  