

<c-modal
  [keyboard]="false"
  [transition]="false"
  backdrop="static"
  class="position-static d-block show"
  id="modalStatic"
>
  <c-modal-header>
    <h5 cModalTitle>Edit Pipeline</h5>
    <!-- <button cButtonClose></button> -->
  </c-modal-header>
  <c-modal-body>
    <form cForm (ngSubmit)="editPipeline(formData)" #formData="ngForm">
      <c-input-group class="mb-3">
        <input
          autoComplete=""
          cFormControl
          placeholder="Pipeline Name"
          name="pipelineName"
          [(ngModel)]="pipeline.name"
        />
      </c-input-group>
      <c-input-group class="mb-3">
        <select
          cFormControl
          name="source"
          [(ngModel)]="pipeline.source"
          class="full-width-input"
        >
          <option value="" disabled>Choose Source</option>
          <option value="Github">Github</option>
        </select>
      </c-input-group>

      <c-input-group class="mb-3">
        <select
          cFormControl
          name="cloud"
          [(ngModel)]="pipeline.cloud"
          class="full-width-input"
        >
          <option value="" disabled>Choose Cloud</option>
          <option value="AWS">AWS</option>
        </select>
      </c-input-group>

      <!-- <c-input-group class="mb-3">
        <input
          autoComplete=""
          cFormControl
          placeholder="Source"
          name="source"
          [(ngModel)]="pipeline.source"
        />
      </c-input-group>
      <c-input-group class="mb-3">
        <input
          autoComplete=""
          cFormControl
          placeholder="Cloud"
          name="cloud"
          [(ngModel)]="pipeline.cloud"
        />
      </c-input-group> -->
      <c-input-group class="mb-2">
        <textarea
          cFormControl
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Github Repository URL"
          name="githubRepository"
          [(ngModel)]="pipeline.githubRepository"
        ></textarea>
      </c-input-group>
      <div class="pb-3 text-center pt-1">
        <button
          cButton
          color="primary"
          type="submit"
          variant="outline"
          class="m-1"

        >
        <c-spinner aria-hidden="true" size="sm" *ngIf="isSubmitting"></c-spinner>
          Update Pipeline
        </button>
      </div>
    </form>
  </c-modal-body>

</c-modal>
