



<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm  (ngSubmit)="resetPassword(formData)" #formData="ngForm">
                <h1>Reset Your Password</h1>
                <p class="text-medium-emphasis">Reset your password</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                  autoComplete="current-password"
                  cFormControl
                  placeholder="Enter New password"
                  type="password"
                  name="newPassword" ngModel
                />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Confirm New Password"
                    type="password"
                    name="confirmPassword" ngModel
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary"  type="submit">
                      submit
                    </button>
                  </c-col>


                </c-row>

              </form>
            </c-card-body>
          </c-card>

        </c-card-group>
      </c-col>
    </c-row>
  </c-container>


</div>




